doctype html
html(ng-app='nexdocApp', ng-controller='GlobalController as globalCtrl')
  head
    title Nexdoc
    meta(charset='utf8')
    base(href='/')

    // Stylesheets.
    link(rel='stylesheet', href='/css/common.css')

    // External js modules.
    script(src='components/underscore/underscore.js')
    script(src='components/angular/angular.js')
    script(src='components/angular-cookies/angular-cookies.js')
    script(src='components/angular-route/angular-route.js')

    // Angular app.
    script(src='/js/app.js')

    // Angular routing.
    script(src='/js/routes/main.js')
    script(src='/js/routes/main-interceptors.js')

    // Angular controllers.
    script(src='/js/controllers/global.js')
    script(src='/js/controllers/account/signIn.js')
    script(src='/js/controllers/account/signUp.js')

    // Angular directives.
    script(src='/js/directives/account/signIn.js')




  body
    header
      h1 Nexdoc
      .userArea(ng-if='$root.user')
        p {{$root.user.name}}
        input(type='button', value='Sign out', ng-click='signOut()')
      .loginArea(ng-if='!$root.user')
        nd-sign-in
    div(ng-view)
