doctype html
html(ng-app='nexdocApp', ng-controller='CommonController')
  head
    title Nexdoc
    meta(charset='utf8')
    base(href='/')

    // Stylesheets.
    link(rel='stylesheet',
    href='components/angular-material/angular-material.css')
    link(rel='stylesheet', href='/css/common.css')

    // External modules.
    script(src='components/angular/angular.js')
    script(src='components/angular-cookies/angular-cookies.js')
    script(src='components/angular-css/angular-css.js')
    script(src='components/angular-animate/angular-animate.js')
    script(src='components/angular-aria/angular-aria.js')
    script(src='components/angular-material/angular-material.js')
    script(src='components/angular-material-icons/angular-material-icons.js')
    script(src='components/angular-route/angular-route.js')
    script(src='components/angular-translate/angular-translate.js')
    script(src='components/underscore/underscore.js')

    // Angular app.
    script(src='/js/app.js')

    // Angular configuration.
    script(src='/js/config/common.js')

    // Angular routing.
    script(src='/js/routes/main.js')
    script(src='/js/routes/main-interceptors.js')

    // Angular services.
    script(src='/js/services/utils.js')

    // Angular controllers.
    script(src='/js/controllers/common.js')
    script(src='/js/controllers/account/signInUp.js')
    script(src='/js/controllers/account/signUp.js')
    script(src='/js/controllers/account/termsDialog.js')

    // Angular directives.
    script(src='/js/directives/account/signInUp.js')

    // Translations
    script(src='/js/translations/en.js')
    script(src='/js/translations/es.js')
    script(src='/js/translations/cat.js')
    script(src='/js/translations/fr.js')
    script(src='/js/translations/de.js')


  body(layout='column')
    header
      a(ng-href='/home/{{$root.buildQuery()}}')
        h1 Nexdoc

      md-input-container
        md-select(aria-label='Language Selector', ng-model='$root.language',
        md-on-close='onLanguageSelected()')
          md-option(ng-repeat='language in languages', ng-value='language'
          ) {{language.name | translate}}

    .userArea(ng-if='$root.user')
      p(ng-if='$root.user') {{$root.user.name}}
      md-button.sign-in.md-raised(ng-click='signOut()') {{'ACCOUNT_SIGN_OUT' | translate}}

    nd-sign-in-up(ng-if='!$root.user')

    div(ng-view)
