.sign-in-area
  form(ng-submit='signIn()')
    input(type='text', placeholder='email', ng-model='signInForm.email')
    input(type='password', placeholder='password', ng-model='signInForm.password')
    input(type='submit', value='Sign in')
    input(type='checkbox', ng-model='signInForm.remember')
  a(href='/signUp') SIGN UP

