form(ng-submit='signUp()')
  input(type='text', placeholder='{{"USER_NAME" | translate}}',
  ng-model='signUpForm.name')
  input(type='text', placeholder='{{"USER_EMAIL" | translate}}',
  ng-model='signUpForm.email')
  input(type='password', placeholder='{{"USER_PASSWORD" | translate}}',
  ng-model='signUpForm.password')
  input(type='submit', value='{{"ACCOUNT_SIGN_UP" | translate}}')
