form(ng-submit='signUp()')
  input(type='text', placeholder='name', ng-model='signUpForm.name')
  input(type='text', placeholder='email', ng-model='signUpForm.email')
  input(type='password', placeholder='password', ng-model='signUpForm.password')
  input(type='submit', value='Sign Up')
