.sign-in-out
  .sign-in(ng-if='!$root.user')
    form(ng-submit='signIn()')
      input(type='text', placeholder='{{"USER_EMAIL" | translate}}',
      ng-model='signInForm.email')
      input(type='password', placeholder='{{"USER_PASSWORD" | translate}}',
      ng-model='signInForm.password')
      input(type='submit', value='{{"ACCOUNT_SIGN_IN" | translate}}')
      input(type='checkbox', ng-model='signInForm.remember')
    a(ng-href='{{$root.buildLink("/signUp", {extra: "lol"})}}'
    ) {{"ACCOUNT_SIGN_UP" | translate | uppercase}}
  .sign-out(ng-if='$root.user')
    input(type='button', value='{{"ACCOUNT_SIGN_OUT" | translate}}',
    ng-click='signOut()')

